
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: rgba(4, 5, 6, 1);
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
}

.table{
    background-color: rgba(4, 5, 6, 1);
}

tr.hide-table-padding td {
  padding: 0px;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

.margins{
    margin-top: 100px;
    margin-bottom: 100px;
}