<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <div class="container">
        <h1 id="tester" style="font-size:7vw; text-align: center;">Consumer and Publisher Habits in Gaming Industry</h1>
    </div>

    <div class="container" style="padding: 10%;">
        <canvas id="globalGameSalesByConsole" width="400" height="200"></canvas>
    </div>

     <div class="container" style="padding: 10%;">
        <canvas id="publishedGamesPerConsole" width="400" height="200"></canvas>
    </div>

    <div>
        <form method="POST">
            <p style="display:inline;">Search</p>
            <input type="text" style="display:inline;" name="search_input" value="{{ request.form['search_input'] }}" placeholder="videogame"/>
            <button type="submit" >search</button>
        </form>

        {% if search_results %}
        <table class="table table-striped table-hover text-justify">
            <thead >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Genre</th>
                    <th scope="col">publisher</th>
                </tr>
            </thead>
            <tbody id="searched_games">
            {% for game in search_results %}
                <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                    <td class="expand-button"></td>
                    <td>{{game['name']}}</td>
                    <td>{{game['genre']}}</td>
                    <td>{{game['publisher']}}</td>
                </tr>
                <tr class="hide-table-padding">
                    <td></td>
                    <td colspan="3">
                        <div id="collapseOne" class="collapse in p-3">
                            <div class="col-6" style="float:right">
                                <h1>Big Chart Here</h1>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">Platform: {{game['platform']}}</div>
                                    <div class="col-6">Year: {{game['year']}}</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
        {% endif %}
    </div>


    <script>


        var ctx = document.getElementById('globalGameSalesByConsole');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {

                labels : [{% for item in console_name %}
                     "{{item}}",
                    {% endfor %}],
                datasets: [{
                    label: 'Games sold per console since 2013',
                    backgroundColor: "rgba(75,192,192,0.4)",
                    data: {{console_sales_num}},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        var ctx = document.getElementById('publishedGamesPerConsole');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {

                labels : [{% for item in top_names %}
                     "{{item}}",
                    {% endfor %}],
                datasets: [{
                    label: 'Number of games published per console',
                    backgroundColor: "rgba(75,192,192,0.4)",
                    data: {{top_qtys}},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>