<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Title</title>
</head>
<body>
<h1 id="tester">Page is working</h1>

<canvas id="myChart" width="400" height="400"></canvas>

<script>
    var consoles = [];
    var sales = [];
    for(var i = 0; i < {{consoleQty}}; i++){
        consoles.add({{consoleSales[i].key}});
    }

    document.getElementById("tester").innerHTML="java is working";
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{console_name}},
        datasets: [{
            label: 'Console Sales Since 2013',
            data: {{console_sales_num}},
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</body>
</html>